body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#5f5f5f;
    color:white;
    display:flex;
    justify-content:center;

    opacity:1;
    transform:scale(1);
    transition:0.25s ease;
}

.page-out{
    opacity:0;
    transform:scale(0.98);
}

.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:40px 20px;
    box-sizing:border-box;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.logo{
    font-size:38px;
    font-weight:bold;
}

.search-box{
    flex:1;
    display:flex;
    justify-content:center;
}

.search-bar{
    width:100%;
    max-width:500px;
    padding:14px 20px;
    border:none;
    border-radius:30px;
    font-size:16px;
}

.profile{
    width:45px;
    height:45px;
    background:black;
    border-radius:50%;
}

.section{
    margin-bottom:60px;
}

.section h2{
    font-size:28px;
    margin-bottom:20px;
}

.book-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(120px, 1fr));
    gap:20px;
}

.book-cover{
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 8px;

}

.book{
    width:100%;
    aspect-ratio:2/3;
    background:#d9d9d9;
    border-radius:8px;
}

.search-panel{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    z-index:999;
    justify-content:center;
    align-items:flex-start;
    padding-top:120px;
}

.search-panel.show{
    display:flex;
}

.search-content{
    width:90%;
    max-width:700px;
    background:#5f5f5f;
    border-radius:18px;
    padding:25px;
}

.search-header{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.back-btn{
    width:50px;
    border:none;
    border-radius:12px;
    font-size:24px;
    cursor:pointer;
}

.search-panel-input{
    flex:1;
    border:none;
    border-radius:12px;
    padding:14px;
}

.option-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(120px, 1fr));
    gap:12px;
}

.option-card{
    background:white;
    color:black;
    padding:14px;
    border-radius:12px;
    text-align:center;
    cursor:pointer;
}

.side-tabs{
    position:fixed;
    right:5px;
    top:120px;
}

.side-tab{
    width:220px;
    height:65px;
    background:#e8e8e8;
    color:#222;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}