<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Best Sellers</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bestseller.css') }}">
</head>

<body>

<div class="header">
    <button class="back-btn" onclick="goBack()">←</button>
    <div class="title-tag">Best Sellers</div>
</div>

<div class="top-btn">
    <button class="register-btn" onclick="goRegister()">Register Book</button>
</div>

<input class="search" placeholder="Search best sellers...">

<div class="book-item">
    <div class="book-img"></div>
    <div class="btns">
        <button class="small-btn">To Read</button>
        <button class="small-btn">Add</button>
    </div>
</div>

<div class="book-item">
    <div class="book-img"></div>
    <div class="btns">
        <button class="small-btn">To Read</button>
        <button class="small-btn">Add</button>
    </div>
</div>

<div class="book-item">
    <div class="book-img"></div>
    <div class="btns">
        <button class="small-btn">To Read</button>
        <button class="small-btn">Add</button>
    </div>
</div>

<script>

window.addEventListener("DOMContentLoaded", () => {
    document.body.classList.add("loaded");
});

function goBack(){
    document.body.classList.add("page-out");
    setTimeout(() => {
        window.location.href = "{{ url_for('views.home') }}";
    }, 250);
}

/* NEW */
function goRegister(){
    window.location.href = "{{ url_for('views.registerbook') }}";
}

</script>

</body>
</html>